<div class="form-group" ng-repeat="input in formData.inputs | toArray | orderBy : 'presentation.order'" ng-switch on="input.$key">
  <label ng-hide="input.presentation.visible == 'none'" for="{{input.$key}}">{{input.presentation.label}}</label>
  <input id="{{input.$key}}"
         class="form-control"
         name="{{input.$key}}"
         type="{{input.presentation.visible == 'none' ? 'hidden' : input.presentation.type}}"
         ng-model="input.presentation[type]"
         ng-change="(input.$key == 'firstName' || input.$key == 'lastName') ? setName(userForm) : ''"
         ng-minlength="input.validation.minLen"
         ng-maxlength="input.validation.maxLen"
         ng-required="input.validation.required">
  <div ng-switch-when="email" ng-messages="userForm.email.$error">
    <div ng-message="required" ng-if="!userForm.$pristine">Enter an email.</div>
    <div ng-message="email">Enter a valid e-mail.</div>
  </div>
  <div ng-switch-when="password" ng-messages="userForm.password.$error">
    <div ng-message="required" ng-if="!userForm.$pristine">Enter a password.</div>
  </div>
  <div ng-switch-when="firstName" ng-messages="userForm.firstName.$error">
    <div ng-message="required" ng-if="!userForm.$pristine">Enter a first name.</div>
    <div ng-message="minlength">First Name is too short.</div>
    <div ng-message="maxlength">First Name is too long.</div>
  </div>
  <div ng-switch-when="lastName" ng-messages="userForm.lastName.$error">
    <div ng-message="required" ng-if="!userForm.$pristine">Enter a last name.</div>
    <div ng-message="minlength">Last Name is too short.</div>
    <div ng-message="maxlength">Last Name is too long.</div>
  </div>
</div>
<button type="submit" class="btn btn-default">Submit</button>
<span ng-show="userForm.$submitted && userForm.$valid" class="form-validate glyphicon glyphicon-thumbs-up"></span>
<span ng-show="userForm.$submitted && userForm.$invalid" class="form-validate glyphicon glyphicon-thumbs-down"></span>
<div class="clearfix"></div>
<hr>
<pre>{{userForm | json}}</pre>
